<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Ajouter un Tableau</h1>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="ajouterTableau()" [formGroup]="ajouterTableauForm" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="nom" class="form-label mb-0">Nom du Tableau</label>
                            <input type="text" class="form-control" id="nom" placeholder="Entrez le nom"
                                formControlName="nom" required>
                        </div>
                        <div class="mb-5">
                            <label for="dimension" class="form-label mb-0">Dimension du Tableau</label>
                            <input type="text" class="form-control" id="dimension" placeholder="Entrez les dimensions"
                                formControlName="dimension" required>
                        </div>
                            <div class="mb-4">
                            <div class="mb-5">
                                <label for="image" class="custom-file-upload">
                                    <i class="fas fa-cloud-download-alt"></i> Télécharger le tableau
                                </label>
                                <input type="file" id="image" formControlName="image" (change)="onChange($event)" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-auto custom-button">Ajouter le Tableau</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>