<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
              <img [src]="tableauImage" class="img-fluid">
            </div>
            <button (click)="ajouterAuxFavoris()" class="favoris-button">
                <i [class]="estFavori ? 'fas fa-heart' : 'far fa-heart'"></i>
            </button>
        </div>
        <div class="face face2">
            <div class="content">
                <h5>{{tableau.nom}} </h5>
                <p> {{tableau.dimension}} </p>
                
                 <div *ngIf="avisList.length > 0" class="zoneAvis">
                    <ul >
                        <li *ngFor="let avis of avisList">{{avis.avis}}</li>
                    </ul>
                </div>
                <form (submit)="submitAvis()">
                    <div class="d-flex flex-column">
                        <textarea class="nouvelAvis" [(ngModel)]="nouvelAvis" name="nouvelAvis" placeholder="Ajouter un avis"></textarea>
                    <button type="submit">Envoyer</button>
                    </div>
                </form>
  
            </div>
        </div>
    </div>
   </div>



