<!-- <div class="memberupdate">
    <p>Modifier mon compte</p>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form">
        <input type="text" formControlName="username" placeholder="Pseudo" />
        <input type="text" formControlName="firstname" placeholder="Prénom" />
        <input type="text" formControlName="lastname" placeholder="Nom" />
        <input type="email" formControlName="email" placeholder="Email" />
        <input type="password" formControlName="currentPassword" placeholder="ancien mot de passe" />
        <input type="password" formControlName="newPassword" placeholder="nouveau mot de passe" />
        <button>Enregistrer</button>
    </form>
</div> -->

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card w-75 card mt-4 mb-4 mx-auto">
                <div class="card-header text-center"><strong>Vous souhaitez supprimer votre compte ?</strong>
                    <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>                 
                </div>
                <div class="card-body">
                    <form 
                         class="d-flex justify-content-center">
                            <button class="btn btn-primary" (click)="supprimerCompte(utilisateurActuelId)">Supprimer le Compte</button>
                                           
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


