.bg-color {
  /* background-color: #4E888F; */
  background-color: #1c0913;
}

.text-center {
margin-top: 0;
margin-right: 4%;
color: white;
width: 150px;
font-family: 'Urbanist', sans-serif;
}

.nav-link:hover {
  color: #efc88f;
  text-decoration: underline;
}

.navbar-nav .nav-link, .navbar-nav .fa-user {
  color: #83E8Ba !important;
}

.navbar-nav .nav-link:hover {
  color: white !important; /* Couleur au survol */
  text-decoration: underline; /* Soulignement au survol (facultatif) */
}

ul {
 font-family: 'Urbanist', sans-serif;
}

.custom-toggler {
    background-color: #83E8Ba; /* Couleur du menu burger */
    border: 1px solid #83E8Ba; /* Couleur de la bordure de la zone de contenu contrôlée */
    border-radius: 5px; /* Ajoutez ceci pour arrondir les coins si nécessaire */
    padding-left: 6px;
    padding-right: 6px;
}


