<nav class="navbar navbar-expand-lg bg-color">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/accueil'">
      <img src="../assets/images/logo.jpeg" alt="Logo" width="300">
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="'/accueil'">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/mes-tableaux'">Mes Tableaux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/mes-favoris'" >Mes Favoris</a>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="'/admin'">Espace Admin</a>
        </li>
      </ul>
     
    </div>
  </div>
  <div class="text-center">
    <!-- Icône de connexion -->
    <i class="fas fa-regular fa-user" style="margin-right: 10px;"></i>
  
    <ng-container *ngIf="afficherDeconnexion">
      <p class="center">{{prenom}}</p>
      <a class="nav-link" [routerLink]="'/mon-compte'">Mon Compte</a>
      <a class="nav-link" href="javascript:void(0);" (click)="logout()">Déconnexion</a>
    </ng-container>
  
    <ng-container *ngIf="!afficherDeconnexion">
      <a class="nav-link" [routerLink]="'/connexion'">Connexion</a>
    </ng-container>
  </div>
</nav>