<body>

    <h1 class="text-center"><div class="blurred-background">Mélina BUCHART SELHAOUI</div></h1>

    <h2 class="text-center"><div class="blurred-background">Artiste dans l'âme</div></h2>

    <div class="imgcenter"><img class="rounded-circle marge"
            src="../assets/images/en train de peindre.jpeg">
    </div><br />

    <h2 style="text-decoration: underline;" class="text-center"><div class="blurred-background">Résumé de ma vie:</div></h2>

    <div>
        <p class="colonne"> né le     dans le 4e
            arrondissement de Paris et mort le 2 mars 1991 dans le 7e arrondissement de Paris, est un
            auteur-compositeur-interprète, pianiste, artiste peintre, scénariste, metteur en scène, écrivain, acteur et
            cinéaste français1. Il accède à la notoriété en tant qu'auteur-compositeur-interprète, abordant de nombreux
            styles musicaux. Il s'essaiera également au cinéma et à la littérature, et réalise plusieurs films et
            vidéo-clips et compose plus de quarante musiques de films.<br />

            Ses débuts sur scène sont difficiles en raison de son physique. Toute sa vie, Serge Gainsbourg souffre d'un
            sentiment de rejet et de l'image que lui renvoie le miroir : celle d'un homme que l'on qualifie de laid. Au
            fil des années, il se crée une image de poète maudit et provocateur, mais pas pour autant en marge du
            système, « J'ai retourné ma veste quand je me suis aperçu qu'elle était doublée de vison » déclare-t-il à
            Denise Glaser à propos de sa conversion à la pop musique dans les années 19602.<br />
            Les textes de ses chansons jouent souvent sur le double sens, et illustrent son goût pour la provocation
            (Nazi Rock, Aux armes et cætera, Lemon Incest) et l'érotisme (Les Sucettes, Je t'aime… moi non plus, Love on
            the Beat), ce qui lui vaut nombres de polémiques. Serge Gainsbourg aime également jouer avec les références
            littéraires, comme Verlaine (Je suis venu te dire que je m'en vais). Cependant, il considère la chanson, et
            en particulier les paroles de chanson, comme un « art mineur1 » puisque ne nécessitant, contrairement à la
            peinture par exemple, aucune initiation pour être apprécié3. Il travaille cependant, parfois beaucoup, la
            forme poétique de ses textes.<br />

            Gainsbourg traversera la vie de chanteuses et actrices souvent renommées pour leur beauté : de Brigitte
            Bardot à Jane Birkin1, avec qui il a son troisième enfant, Charlotte Gainsbourg. Après leur séparation, il
            rencontre « Bambou », Caroline von Paulus4 de son vrai nom, qui lui donne son quatrième et dernier enfant,
            Lucien Gainsbourg, dit « Lulu ».<br />

            Il influencera considérablement des artistes français comme le groupe Taxi Girl, Renaud ou encore Étienne
            Daho5 mais aussi des artistes non francophones tels que Beck Hansen, Mike Patton6, le groupe Portishead et
            le compositeur David Holmes.<br />

            Si sa notoriété à l'extérieur du monde francophone se limite aux professionnels de la musique, il réussit à
            classer deux de ses albums dans les meilleures ventes de disques aux États-Unis : Bonnie and Clyde7 (avec
            Brigitte Bardot) se classe 12e au Billboard 200 au cours de l'année 1968, et Jane Birkin/Serge Gainsbourg8
            se classe 196e au cours de l'année 1970. Sa chanson Je t'aime… moi non plus se classe 58e au Billboard Hot
            1009, malgré des diffusions à la radio limitées10, mais rencontre un plus grand succès encore au Royaume-Uni
            où elle se classe numéro 1 des ventes11. Avec celles de la chanteuse belge Sœur Sourire12, ces performances
            sont inégalées pour des chansons en langue française aux États-Unis.</p>
    </div>

    <h2 class="text-center"><div class="blurred-background">Pour plus d'informations, cliquer ici pour voir <a
            [routerLink]="'/mes-tableaux'"><span class="tableaux-link">Mes tableaux</span></a></div></h2>
</body>