<body>

    <h1 class="text-center"><div class="blurred-background"><strong>Mélina BUCHART SELHAOUI</strong></div></h1>

    <h2 class="text-center"><div class="blurred-background">Artiste dans l'âme</div></h2>

    <div class="imgcenter"><img class="rounded-circle marge"
            src="../assets/images/en train de peindre.jpeg">
    </div><br />

    <h2 style="text-decoration: underline;" class="text-center"><div class="blurred-background">D'où vient ma passion:</div></h2>

    <div class="colonne">
        <p> Depuis toujours, j'ai été bercé par un univers créatif, un don hérité de ma mère, véritable artiste dans l'âme. Elle dessine, peint, coud, tricote, et crée des merveilles de ses mains. Son art est une source inépuisable d'inspiration pour moi.</p>

        <p>Pourtant, ma propre aventure artistique a débuté sous l'impulsion d'une amie, qui avait remarqué mon désir latent de
        plonger dans le monde de la peinture. Un jour, elle m'a lancé un défi en mettant à ma disposition tout le matériel
        nécessaire pour créer. J'avais gardé ce rêve enfoui en moi depuis longtemps, mais je n'avais jamais osé franchir le pas.</p>

        <p>Lors d'une soirée mémorable, mon amie a sorti son équipement artistique, et j'ai peint ma toute première toile, baptisée
        'Le Commencement'. C'était le point de départ d'une aventure extraordinaire. Quelques temps plus tard, lors d'une autre
        soirée, j'ai replongé dans la magie de la peinture pour créer 'La Vie en Folie'.</p>

        <p>Mon amie a eu la gentillesse d'encadrer cette toile et de me l'offrir pour mon anniversaire. Elle y a joint une carte
        cadeau pour que je puisse acheter mon propre matériel. Ce geste a été le déclic dont j'avais besoin. J'ai ainsi commencé
        à explorer cet univers artistique par moi-même, m'exprimant en couleurs et en formes, et donnant vie à mes idées.</p>

        <p>La peinture est devenue bien plus qu'un simple loisir. Elle est devenue un exutoire, une passion qui me permet de
        m'évader, de me ressourcer, et de m'ancrer dans le présent. Ma créativité s'exprime également à travers la décoration
        d'intérieur, un domaine que j'ai exploré lors d'une formation en 2017, couronnée par l'obtention de mon certificat. Par
        ailleurs, j'aime donner une nouvelle vie à des objets en les personnalisant. Cette forme d'art me calme, me ressource,
        et m'aide à trouver un équilibre dans ma vie.</p>

        <p>La créativité est le fil conducteur de mon existence, un moyen de laisser libre cours à mon imagination et de
        transmettre des émotions. Je suis passionnément investi dans cet art qui me nourrit l'âme et me pousse à créer sans
        cesse. C'est ma manière à moi de partager un peu de beauté avec le monde.</p>

    </div>

    <h3 class="text-center"><div class="blurred-background">Pour plus d'informations, cliquer ici pour voir <a
            [routerLink]="'/mes-tableaux'"><span class="tableaux-link">Mes tableaux</span></a></div></h3>
</body>