/* .custom-page-background { 
  background-image: url('src/assets/images/colorful-festival-colors-spread-dark-surface.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  image-rendering: auto; 
 
} */