 <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <div class="card w-75 card mt-4 mb-4 mx-auto">
            <div class="card-header text-center">
            <h2>Créer votre compte</h2>
           </div>
            <form class="mx-4" (ngSubmit)="inscription()" [formGroup]="inscriptionForm">
                <div class="mb-3 mt-4">
                    <label for="nom" class="form-label mb-0">Votre Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
                </div>
                <div class="mb-3">
                    <label for="prenom" class="form-label mb-0">Votre Prénom</label>
                    <input type="text" class="form-control" id="prenom" placeholder="Prénom" formControlName="prenom">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label mb-0">Votre email</label>
                    <input type="email" class="form-control" id="email" placeholder="name@gmail.com"
                        formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label mb-0">Votre mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="••••••••"
                        formControlName="motDePasse">
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label mb-0">Confirmez votre mot de passe</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="••••••••"
                        formControlName="motDePasseConf">
                </div>
                <div class="mt-5 mb-3 text-center">
                <button type="submit" class="btn btn-primary custom-button" [disabled]="!inscriptionForm.valid">Créer votre compte</button>
               </div>
                <p class="text-center mt-3">
                    Vous avez déjà un compte ? <a href="#" class="font-weight-medium text-primary"
                        [routerLink]="'/connexion'">Connectez vous ici</a>
                </p>
            </form>
        </div>
    </div>
  </div>
</div>
