<div class="custom-page-background">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card w-75 card mt-4 mb-4 mx-auto">
                <div class="card-header text-center">Vous avez déjà un compte ?
                    <h5>CONNECTEZ-VOUS</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="connexionForm" (submit)="connexion()">
                        <div class="form-group mt-2">
                            <label for="email"> Votre email 📧:</label>
                            <input type="email" class="form-control" id="email" formControlName="mail" required formControlName="email"/>
                        </div>
                        <div class="form-group mt-4">
                            <label for="password">Votre mot de passe:</label>
                            <input type="password" class="form-control" id="password" placeholder="••••••••" formControlName="password"
                                required formControlName="motdepasse"> 
                        </div>                 
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mt-5 custom-button" [disabled]="!connexionForm.valid">
                                Connectez-vous à votre compte
                            </button>
                        </div> 
                        <div class="d-flex justify-content-center mt-2">
                            <div class="text-sm font-medium text-muted mt-2">
                                Pas enregistré ? <a href="#" class="text-primary create-account-link" [routerLink]="'/inscription'">Créer un compte</a>
                            </div>
                        </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


