.custom-button {
    background-color: #f6c275;
    border: #d5cc23 solid 2px;
    color: #1c0913; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
     background-color: #f6c275; 
     transform: scale(1.07);
     box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

