.custom-page-background {
   /* background: linear-gradient(to left, #1c0913, #f4a6a5); */
  background-image: url('src/assets/images/fond-bokeh-abstrait-lumieres-colorees.jpg');
  background-size: auto; 
  background-repeat: repeat-y;
  background-position: center; 
  image-rendering: auto; 
}

.modern-table {
  width: 80%;
  border-collapse: collapse;
  margin:  auto;
  font-size: 18px;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.modern-table thead tr {
  background: linear-gradient(to right, #1c0913, #957186);
   color: #83E8Ba;
   text-align: left;
}
 
.modern-table th,
.modern-table td {
  padding: 12px 15px;
  text-align: left;
}
 
.modern-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}
 
.modern-table tbody tr:last-of-type {
  border-bottom: none;
  text-align: left;
}
 
.modern-table tbody tr:hover {
  background-color: #f5f5f5;
}
 
.input-field {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  text-align: left;
}
 
.edit-btn,
.delete-btn,
.confirm-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  text-align: left;
}
 
.edit-btn {
  background-color: #83E8Ba;
  color: #1c0913;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
.delete-btn {
  background-color: #FF6B6B;
  color: #fff;
}
 
.confirm-btn {
  background-color: #83E8Ba;
  color: #1c0913;
}
 
td {
  text-align: center;
}

.custom-button {
    background-color: #f6c275;
    border: #d5cc23 solid 2px;
    border-radius: 5px;
    color: #1c0913; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 7px;
}

.custom-button:hover {
     background-color: #f6c275; 
     transform: scale(1.07);
     box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.edit-btn:hover,
.delete-btn:hover,
.confirm-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: all 0.3s ease;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.confirm-btn::after {
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgb(61, 201, 173);
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.delete-btn::after{
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #f53b3b;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.edit-btn::after{
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgb(61, 201, 173);
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.edit-btn:hover::after,
.delete-btn:hover::after,
.confirm-btn:hover::after {
  opacity: 1;
}

td {
  background-color:rgba(255, 255, 255, 0.7);
  /* backdrop-filter: blur(20px); */
}
