<body>
    <div class="custom-page-background">
<app-barre-de-recherche></app-barre-de-recherche>
    
<div class="text-center mt-3 mb-5">
<button type="button" class="btn btn-outline-success btn-lg custom-button" [routerLink]="'/ajouter-tableau'">Ajouter un tableau</button>
</div>

<table class="modern-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Dimension</th>
            <th>Image</th>
            <th ></th>
        </tr>
    </thead>

       <tbody>
            <tr *ngFor="let tableau of tableaux" [id]="tableau.id">
                <td>
                    <input class="input-field" *ngIf="isEditing" [(ngModel)]="tableau.nom" type="text" />
        
                    {{ !isEditing ? tableau.nom : "" }}
                </td>
        
                <td>
                    <input class="input-field" *ngIf="isEditing" [(ngModel)]="tableau.dimension" type="text" />
        
                    {{ !isEditing ? tableau.dimension : "" }}
                </td>
            
                <td>
                    <input class="input-field" *ngIf="isEditing" [(ngModel)]="tableau.id_image" type="text" />
        
                    {{ !isEditing ? tableau.id_image : "" }}
                </td>
        
                <td>
                    <button class="edit-btn" (click)="modifierTableau()">Modifier</button>
        
                    <button class="delete-btn" (click)="tableau.id !== undefined ? supprimerTableau(tableau.id) : null">
                        Supprimer
                    </button>
        
                    <button class="confirm-btn" *ngIf="isEditing"
                        (click)="tableau.id !== undefined ? confirmerChangements(tableau.id, tableau.nom, tableau.dimension, tableau.id_image) : null">
                        Confirmer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
   </body> 
